@import "tailwindcss";



@media screen and (max-width: 708px) {
  
#card{
width: 80%;
}

#lower{
margin-top: -6vw;
}

#logo{
  margin-left: 10vw;
  margin-right: 0;
}

#searchbar{
  width: 75%;
}

#btn{
height: 10vh;
width: 6vw;
right:3vw;
top: -2vw;
}



}

